[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git

[submodule "bridge_lib/third_party/dds"]
	path = bridge_lib/third_party/dds
	url = https://github.com/dds-bridge/dds.git
