/build/
/sl/
/policy_sl/
/pysrc/__pycache__
/pysrc/outputs
/.cache
/.idea
/workspace.code-workspace
/outputs
/declarer_eval
/belief_sl
/opening_lead_eval
/model_exec_times/
*/__pycache__
*.pth*
*.pyc
*.mat
/.vscode